# dependencies
node_modules/
.pnpm-store/

# next.js
.next/
out/
*.next.lock

# env & local
.env
.env.*
!.env.example

# os/editor junk
.DS_Store
Thumbs.db
.vscode/
.idea/

# vercel/netlify local state
.vercel/
.netlify/
